@media (max-width: 768px) {
    body{
        background-color: red;
        text-align: center;
    }
    h1{
        color: aliceblue;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        margin-top: 140px;
    }
    h3{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 25px;
    }
    i{
        color: white;
        margin: 10px;
    }
    .icon{
        color: white;
        margin-top: 40px;
    }
    .footer{
        margin-top: 220px;
    }
}
